#container-form{
    height: 80%;
}

#title-login-form{
    color: rgba(131, 126, 126, 0.756);
}

.mat-form-field {
    width: 55%;
}

#login-button{
    color: rgba(96, 94, 94, 0.756);
}

input::-ms-reveal, input::-ms-clear {
        display: none;
}

#sign-up-form{
    width: 50%;
}

.mat-error{
  color: #1976d2;
}
